main {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

#mural {
    width: 80%;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    background-color: rgba(255, 218, 149, 0.527);
    border-radius: 20px;
}

#card {
    background-color: azure;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#card:hover {
    /* zoom: 1.2; */
    transform: scale(1.08);
    transition: 0.2s;
}

#card img {
    width: 300px;
    border-radius: 20px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: rgba(253, 255, 137, 0.685);
    border-style: groove;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

/* #carrinho {
    width: 200px;
    height: 400px;
    padding: 15px;

    position: absolute;
    right: -15px;
    top: 355px;

    border-radius: 15px;
    background-color: rgba(253, 255, 137, 0.76);
}

#carrinho:hover {
    position: absolute;
    right: 5px;
    top: 355px;
} */