body {
    font-family: "Sevillana", cursive;
    background-image: url(../images/DOCES\ DA\ COLMEIS\ \(1\).png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #e6933328;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.facebook {
    background: #3b5998;
    color: #fff;
}

.google {
    background: #db4437;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #333;
}

#urso{
    position: absolute;
    top: -40px;
    left: 370px;
    width: 400px;
    padding: 10px;
    /* display:flex ; */
    /* justify-content: center; */
    /* align-items: center; */

}