*{
    margin: 0%;
    padding: 0%;
    
}

main {
    background-image: url(../images/fundo5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.all{
    /* background-color: aqua; */
    width: 100%;
    padding: 40px 0px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#grupo1{
    /* background-color: aqua; */
    width: 100%;
    padding: 40px 0px ;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#texto1{
    background-color: rgb(207, 134, 23);
    width:20% ;
    padding: 70px 20px 20px 20px;
    border-radius: 7%;
}

#texto2{
    width:20% ;
    padding: 20px; 
}

#texto1 h1, h2 {
    text-align: center;
    color: antiquewhite;
}

/* fim da div - grupo1 */

 #grupo2{
    /* background-color: aqua; */
    /* width: 100%; */
    padding: 40px 0px;
    /* padding-left: 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* margin-left: 130px; */
    
}

/* #imagem{
    background-color: black;
} */

#grupo2 img{ 
    width: 600px;
    border-radius: 10px;
    display: flex;
} 

#texto3{
    background-color: rgb(207, 134, 23); 
    width: 30%;
    height: 150px;
    padding: 30px 30px 250px 30px;
    /* height: 65px; */
    color: antiquewhite;
    border-radius: 4%;
    text-align: center;
} 

#containerbtn{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

#botao{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}
#bt{
    background-color: rgb(255, 255, 255);
    /* width: 100px; */
    padding: 20px 100px 10px 120px;
    border-radius: 7px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    border-color: rgb(201, 173, 112);
    border-style: solid;

}

#bt a {
    text-align: center;
    text-decoration: none;
}

#bt h2{
    color: rgb(0, 0, 0);
}

#mapa {
    border-style: solid;
    border-color: rgb(201, 173, 112);
    display: flex;
    justify-content: center;
    margin-left: 35%;
    width: 600px;
}

#tmap h1{
    text-align: center;
}